@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #00539C;
    color: #EEA47F;
    margin: 0 auto;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 25rem;
    text-align: center;
}

.input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container h2 {
    padding: 1.5rem;
}

form {
    margin-bottom: 3rem;
}

.input-section input {
    display: flex;
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1.1rem;
}

.input-section button {
    padding: .3rem 1.2rem;
    background-color: #EEA47F;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease;
    color: #00539C;
}

.input-section button:hover {
    background-color: #be8569;
    color: #00539C;
}

.output-section {
    border: 1px solid white;
}